* text eol=lf

# Text
*.sh        text
*.txt       text
*.json      text
Dockerfile* text
*.c         text
*.h         text
*.clang*    text
.git*       text
*.md        text
*.yml       text
*.docker*   text
Makefile    text
*.mk        text

# Binary
